/* styles.css — estilos adicionales si quieres personalizar más allá de Bulma */

/* Pequeño ajuste para el contenedor del formulario */
.container.m-4 {
  max-width: 900px;
}

/* Mensajes (si quieres mover los estilos fuera del style inline en el HTML) */
#message {
  transition: opacity 0.25s ease;
}

.hero-body {
  background-image: url("https://www.tealca.com/wp-content/uploads/2021/06/002_IMG-FONDO-1.jpg");
  background-size: contain;
  background-position-x: center;
}

.hero.is-primary .title {
  font-family: cursive;
  color: #437df1;
  text-align: center;
  font-size: xxx-large;
}
